.container-fluid {
display: flex;
justify-content: center;
align-items: center;
min-height: 30vh;
}

p.mission {
font-size: 1.2rem;
text-align: right;
}

#our-game {
font-family: "Montserrat", sans-serif;
font-size: 5rem;
}

.mission2 {
font-size: 1.2rem;
text-align: center;}