{% extends 'base.html' %}

{% load static %}

{% block title %}
Insanity Games
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">

{% endblock %}

{% block body %}
<div class="background-img">
    <img id="background" src="{% static 'images/background.png' %}" alt="main background" width="100%">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 id="our-game"><strong>OUR GAMES</strong></h1>
        </div>
        <div class="col-md-6">
            <p class="mission" style="padding-right:10px;">Our mission is to create engaging and immersive games that provide players with an escape from reality, challenge their skills and creativity, and foster a sense of community and connection. We strive to deliver unique and innovative gameplay experiences that push the boundaries of what's possible in the world of gaming.</p>
        </div>
    </div>
</div>
<div class="w-100"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p class="mission2">We believe that games have the power to bring people together and provide a platform for personal growth and self-discovery. Whether it's through puzzle-solving, exploration, or social interaction, our games are designed to captivate and inspire players of all ages and backgrounds. We're committed to crafting games that are not only entertaining but also meaningful, leaving a lasting impression on the players and contributing to the advancement of the gaming industry as a whole.</p>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid " style="background-color: #51087E;'">
  <div class="container text-center">
    <h1 class="display-4 text-light">We are proud of every game we make!</h1>
  </div>
</div>


<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for game in games|slice:":3" %}
    <div class="col mb-4">
      <div class="card h-100">
        <img src="{{ game.cover.url }}" class="card-img-top" alt="{{ game.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ game.title }}</h5>
          <p class="card-text">{{ game.short_description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <a href="{% url 'games' %}" class="btn btn-primary mt-4">Show More Games</a>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5" style="background-color: #51087E;'">
  <div class="container text-center">
    <h1 class="display-4 text-light">Latest News</h1>
  </div>
</div>

<div class="d-flex justify-content-center"">
    <div class="card mb-4 text" style="width: 80%;">
      <div class="card-body text-center">
        <h3>{{ news.topic }}</h3>
        <hr>
        <p>{{ news.text }}</p>
      </div>
      <div class="card-footer">
        <small>{{ news.pretty_publish_date }}</small>
      </div>
    </div>
</div>


<div class="text-center ">
  <a href="{% url 'news' %}" class="btn btn-primary">More News</a>
</div>

{% endblock %}