{% extends 'base.html' %}

{% block title %}
Thanks for contacting us
{% endblock %}

{% block body %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Thank you for contacting us!</h2>
            <p class="card-text text-center">We have received your message and will respond as soon as possible.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}